li {
  margin: 5px;
}

body {
  padding:0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

.mainbody {
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-top-color: black;
  border-top-width: 2px;
  border-top-style: solid;
}

.sidebar {
  background-color: lightblue;
  padding: 10px;
  border-right-color: black;
  border-right-width: 2px;
  border-right-style: solid;
}

.sidebar h5 {
  padding: 0;
  padding-left: 5px;
}

.party_images {
  text-align: justify;
  padding: 10px;
  padding-top: 0;
}

.party_images img {
  margin: auto;
  display: inline-block;
  width: 15%;
  mwax-width: 70px;
  margin: 5px;
}

table {
  text-align: center;
  width: 90%;
  display: block;
  margin: auto;
  margin-left: 15px;
}
table tr td {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

table tr td img {
  width: 20px;
  margin: 3px;
}

.classbox {
  background-color: turquoise;
  padding: 5px;
}

.classbox ul {
  text-align: justify;
}

li a:link, li a:visited, li a:hover, li a:active  {
  text-decoration: none;
}

.skillbox {
  margin: auto;
  display: inline-block;
  width: 40%;
  text-align: center;
  font-size: 9pt;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
}

.skillbox_unselected {
  border-color: black;
  border-width: 1px;
  border-style: dashed;
}

.skillbox_selected {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.skillbox b {
  font-size: 11pt;
}

.req_li {
  font-size: 9pt;
  margin:1px;
  padding:0;
}

.header_bar {
  padding: 5px;
  text-align: left;
}

.banner_img {
  width: 300px;
  height: 140px;
  vertical-align: middle;
}
.main_title {
  margin-left: 10px;
  display: inline-block;
  text-align: left;
}